@model IEnumerable<ASPCore_Final.Models.HangHoa>
@{
    Layout = "";
}
<ul type="none">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            
            <li style="margin:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><a asp-action="LayThongTin" asp-controller="PhieuNhapHang" asp-route-mahh="@item.MaHh"><img src="~/HangHoa/@item.Hinh" style="width:50px;height:50px;" /><span>@item.TenHh</span></a></li>
        }
    }
</ul>