@model ASPCore_Final.Models.HangHoa

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Cập nhật hàng hoá</h2>


<hr />
@*<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@
<script src="~/Admin/js/plugins/ckeditor.js"></script>
@*<script src="//cdn.ckeditor.com/4.11.1/full/ckeditor.js"></script>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHh" />
            <div class="form-group">
                <label asp-for="TenHh" class="control-label"></label>
                <input asp-for="TenHh" class="form-control" />
                <span asp-validation-for="TenHh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label"></label>
                <select asp-for="MaLoai" class="form-control" asp-items="ViewBag.MaLoai"></select>
                <span asp-validation-for="MaLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh" class="control-label"></label>
                <input type="file" asp-for="Hinh" name="fHinh" class="form-control" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiamGia" class="control-label"></label>
                <input asp-for="GiamGia" class="form-control" />
                <span asp-validation-for="GiamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>

                <textarea asp-for="MoTa" class="form-control" id="txtMoTa"></textarea>

                <script>
                    var editor = CKEDITOR.replace('txtMoTa');

                </script>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNcc" class="control-label"></label>
                <select asp-for="MaNcc" class="form-control" asp-items="ViewBag.MaNcc"></select>
                <span asp-validation-for="MaNcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Trở lại</a>
</div>

