@model ASPCore_Final.Models.LoaiTinTuc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết loại tin tức</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenTt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoaiTt" class="btn btn-primary">Sửa</a> |
    <a asp-action="Index" class="btn btn-primary">Trở lại</a>
</div>
